PORT=3000

MONGO_HOST_DEV=localhost
MONGO_PORT_DEV=27017
MONGO_DB_DEV=mongoose

MONGO_HOST_TEST=localhost
MONGO_PORT_TEST=27017
MONGO_DB_TEST=mongoose

MONGO_HOST_PROD=localhost
MONGO_PORT_PROD=27017
MONGO_DB_PROD=mongoose


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=